<footer>
    <blockquote>
        "Clearance is a Boolean."
    <br><i>-  A common phrase passed around  in the FTC Community</i>
    </blockquote>
    <nav>
        <a href="https://github.com/waveriderCPCC" target="_blank">GitHub</a> |
        <a href=".." target="_blank">GitHub.io</a> |
        <a href="." target="_blank">WEB115.io</a> |
        <a href="https://www.freecodecamp.org/waveriderCPCC">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/waveriderCPCC" target="_blank">Codecademy</a> |
        <a href="https://jsfiddle.net/u/waveriderCPCC/fiddles">JSFiddle</a>
        <br><p style="text-align: center"><i>Page built by <b>waveCorps</b></i></p>
    </nav>
</footer>
