<header>
    <h1>liam oppenheimer's leaping oryx ^ web115</h1>
    <nav><a href="/web115/index.html">home</a> | 
      <a id="contract" href="/web115/contract.html">contract</a> | 
      <a id="intro" href="/web115/introduction.html">introduction</a> |
      <a id="brand" href="/web115/brand.html">brand</a> |
      <a id="fb0" href="/web115/fizzbuzz0.html">fb0</a> |
      <a id="fb1" href="/web115/fizzbuzz1.html">fb1</a> |
      <a id="fb2" href="/web115/fizzbuzz2.html">fb2</a> |
      <a id="fb3" href="/web115/fizzbuzz3.html">fb3</a> |
      <a id="fb4" href="/web115/fizzbuzz4.html">fb4</a> |
      <a id="fccfsjs" href="/web115/fccfsjs_outline.html">fccfsjs</a>
    </nav>  
</header>