<h2>brand</h2>
<section>
  <h3>what's my brand?</h3>
  <p>
    I decided to make this website's design brand <i>myself.</i> <br />It's a
    pretty simple design; it's job is to enhance the delivery of the information
    on here. <br /><span style="font-size: small"
      >and also just to look nice.</span
    >
  </p>
  <p>
    some styles that this site is inspired by (but not any one in particular):
  </p>
  <ul>
    <li>Frutiger Aero</li>
    <li>Skeumorphism</li>
    <li>Windows 11 / stained glass</li>
    <li>A friend's site</li>
  </ul>
</section>
<section>
  <h3>tagline</h3>
  <p>"<i>Clearance is a Boolean</i>"</p>
</section>
<section>
  <h3>logo / favicon</h3>
  <img
    class="preview"
    src="favicon.svg"
    alt="site logo: a stylized image of a arrow up text charactor"
  />
</section>
<section>
  <h3>header style</h3>
  <p>
    all headers are stylistically lower case. paragraphs are also lower case but
    not always.
  </p>
  <p>
    the title uses <b>Nunito</b>, a drop shadow, and a subtle blue stroke that
    shows through to the background (color #4), besides also being filled with
    white:
  </p>
  <pre>
        <code>
        h1 {
          margin-top: 1em;  
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 44px;

          color: #000000;

          text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
          paint-order: stroke fill;
          -webkit-text-stroke: 4px rgba(152, 213, 230, 0.5);
          -webkit-text-fill-color: white;
        }
        </code>
      </pre>
  <p>the top nav bar uses this styling, as well as the font <b>Poppins</b>:</p>
  <pre>
      <code>
        header nav {
          color: white;
          text-align: center;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 18px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      </code>
      </pre>
</section>
<section>
  <h3>font examples</h3>
  <ul class="fonts">
    <li style="font-size: larger">
      this font is <b>Open Sans</b>, being used for mostly everything.
    </li>
    <li style="font-size: larger; font-family: 'Poppins', sans-serif">
      this is <b>Poppins</b>, used for the top navbar.
    </li>
    <li style="font-size: larger; font-family: 'Nunito', sans-serif">
      this is a small example of the title font, <b>Nunito</b>
    </li>
  </ul>
</section>
<section>
  <h3>gradients</h3>
  <p>
    the footer has a gradient from clear, to a subtle black, and back to clear:
  </p>
  <code>
    <span style="color: var(--b)">background-image: linear-gradient</span>(<span
      style="color: var(--b)"
      >rgba</span
    >(0,0,0,0) 0%, <span style="color: var(--b)">rgba</span>(0,0,0,0.2) 18%,
    <span style="color: var(--b)">rgba</span>(0,0,0,0) 100%);
  </code>
</section>
<section>
  <h3>images</h3>
  <p>
    images are rounded and glowing white, with small italic captions below, like
    this:
  </p>
  <figure>
    <img
      src="images/image.png"
      alt='an example image; black text on white bacground with three quarters of the frame filled with diagonoal repeating text that says "picture"'
    />
    <figcaption>
      <i>this is a caption.<br />second line.</i>
    </figcaption>
  </figure>
</section>
<section class="board">
  <h3>colors</h3>
  <div class="palette">
    <div
      class="swatch__circle"
      style="background: white"
      aria-hidden="true"
    ></div>
    <div class="swatch__meta">
      <div class="swatch__name">1. white (text)</div>
      <div class="swatch__hex"><code>#FFFFFF</code></div>
    </div>
    <div class="swatch__exp">
      this the main color for most text, such at in the body and footer.
    </div>
  </div>
  <div class="palette">
    <div
      class="swatch__circle"
      style="background: #9be3f8"
      aria-hidden="true"
    ></div>
    <div class="swatch__meta">
      <div class="swatch__name">2. soft blue (links)</div>
      <div class="swatch__hex"><code>#9BE3F8</code></div>
    </div>
    <div class="swatch__exp">
      all links use this color (besides the ones on the top), as well as a white
      drop shadow that acts as a "glow" effect.
    </div>
  </div>
  <div class="palette">
    <div
      class="swatch__circle"
      style="background: black"
      aria-hidden="true"
    ></div>
    <div class="swatch__meta">
      <div class="swatch__name">3. black</div>
      <div class="swatch__hex"><code>#000000</code></div>
    </div>
    <div class="swatch__exp">
      this is used for the links at the top, the logo, and in some gradients and
      drop shadows.
    </div>
  </div>
  <div class="palette">
    <div
      class="swatch__circle"
      style="background: rgba(152, 213, 230, 0.2)"
      aria-hidden="true"
    ></div>
    <div class="swatch__meta">
      <div class="swatch__name">4. soft blue glass</div>
      <div class="swatch__hex"><code>rgba(152, 213, 230, 0.2)</code></div>
    </div>
    <div class="swatch__exp">
      the title stroke, it shows through to the background a bit.
    </div>
  </div>
</section>
