
        <h2>contract</h2>
        <p>I, <a href="introduction.html">Liam E. Oppenheimer</a>, agree to abide by the terms in my Fall 25FA-WEB115-N801 Web Markup And Scripting Course with my instructor, D.I von Briesen.</p>
        <p>I understand that all work that I do on my school and personal websites will be publicly available to the world. I will not put information there that is inappropriate for schoolwork, or that I wish to keep private.</p>
        <p>I also understand that it is my work that counts for attendance, not logins or showing up for class. As such, failure to turn in assignments may show as absences.</p>
        <p>Signed: <em>Liam E. Oppenheimer, 24 August 2025</em></p>

