
      <script src="scripts/FizzBuzz0.js" defer></script>
      <h2>fizz buzz 0</h2>
      <h3 id="welcome_message">welcome to waverider's site.</h3>
      <form id="form">
        <label for="first">First Name</label>
        <input type="text" name="first" id="first" required>
        <br>
        <label for="mid">Middle Initial</label>
        <input type="text" name="mid" id="mid" maxlength="1">
        <br>
        <label for="last">Last Name</label>
        <input type="text" name="last" id="last">
        <br>
        <input id="submit" type="submit" value="submit">
      </form>
      <ol id="output"></ol>
