:root {
  --blue: #bae8f5;
  --bg: #ecede8;
}

body {
  /* hi i am 
    main body contents 
    */

  font-family: 'Open Sans';
  font-style: normal;

  color: #FBFBFB;

  overflow-x: hidden;
  background-image: url(/web115/images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 120% 120%;
  font-size: 20px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.82);

}

body::before {
  content: "";
  position: fixed;
  top: -2%;
  left: -1%;
  width: calc(100% + 20px);
  height: 250px;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0));
  background-position: center;
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

main {
  /* font-weight: 500; */
  padding: 5%;
}

/* waverider • home */
.toptitle {
  text-align: center;
  
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  paint-order: stroke fill;
  -webkit-text-stroke: 4px rgba(152, 213, 230, 0.2);
  -webkit-text-fill-color: black;
}

.topmenu {
  color: black;

  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

header {
    margin: 0;
    padding: 0;
      height: 7em; /* adjust height */
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 24px;
      font-weight: bold;
      /* you can change 90deg to 180deg, to top, to bottom, etc. */
    }

header a{
  color: black;
}

main a, footer a{
  /* this is a link */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-decoration-line: underline;

color: #9BE3F8;

text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);

}

nav {
  text-align: center; 
  padding-top: 2.22em;
  text-shadow: none;
  background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 18%, rgba(0,0,0,0) 100%); 
  padding-bottom: 5%;
}

.image {
  margin: 2em;
  float: right;
  font-size: small;
}

.image img {
  border-radius: 15px;
  filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.5));
}